{% extends 'header.html.twig' %}
{% block stylesheets %}
        <link href="{{ asset('css/acceuil.css') }}" rel="stylesheet" />
        <script src="http://cdn.jsdelivr.net/typeahead.js/0.9.3/typeahead.min.js"></script>
{% endblock %}
{% block body %}
	<div class ="row">
      <div class="container">
  <div class="row">
        <div class="col-md-6">
        <h2>Annuaire</h2>
            <div id="custom-search-input">
                <div class="input-group col-md-12">
                    <input type="text" class="form-control input-lg" placeholder="Rechercher" />
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-lg" type="button">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
  </div>
</div>

	</div>

{% endblock %}